@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lugrasimo&family=Oswald:wght@200..700&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #242B35;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container{
  color: white;
  background-color: #E62249;
  width: max-content;
  height: fit-content;
  padding: 60px;
  border-radius: 15px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  box-shadow: 15px 15px 35px rgba(0,0,0,0.2),
    inset 0 0 30px rgba(0,0,0,0.4);
  
}

.button-sub{
  padding: 5px;
  border-radius: 7px;
  border: none;
}

.button-sub:hover{
  cursor: pointer;
  background-color: #242b35;
  color: white;
  transition: 0.3s;
}